.footer-main {
    &__banner {
        background-color: $primaryColor;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__text {
            font-weight: 500;
            font-size: 22px;
            line-height: 29px;
            text-align: center;
            color: #FFFFFF;
            margin-right: 40px;
        }

        &__button {
            color: $primaryColor;
            background: #FFFFFF;
            font-style: normal;
            font-size: 20px;
            font-weight: "medium";
            text-align: center;
            padding: 15px 40px;
            border: none;
            border-radius: 3px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__main-part {
        padding-top: 40px;
        background: $darkColor;

        &__logotype {
            width: 32px;
            height: auto;
        }

        &__copyright {
            text-align: center;
            color: white;
            margin-top: 20px;
            padding-bottom: 10px;
        }
    }

    &__container {
        width: 1041px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__box {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtitle {
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
        margin-top: 20px;
        color: #FFFFFF;
    }

    &__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

        &__list-item {
            margin: 10px 0;
        }
    }
}

@media(max-width: 1150px) {
    .footer-main__container {
        width: 90%;
    }
}

@media(max-width: 845px) {
   .footer-main {
       &__banner {
            height: auto;
            padding: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__text {
                margin-right: 0;
                margin-bottom: 12px;
            }
        }
   }
    
}